/*
	Katrina Ezis
	Info-343
	Personal Portfolio
	November 23, 2015
	CSS file. A little messy.
*/
@import url(https://fonts.googleapis.com/css?family=Muli:400,300|Open+Sans:300|Raleway:400,100,300);
/*
font-family: 'Muli', sans-serif;

font-family: 'Open Sans', sans-serif;

font-family: 'Raleway', sans-serif;
*/


p{
  text-align:center;
}

#navLogo {
	max-width: 200px;
}


.projectImage {
	max-height: 250px;
	-vendor-animation-duration: 5s;
	/*margin: auto;
	display: block;*/
	/*make the images smaller on smaller
	screen sizes so they scale as the user changes
	view*/

}

#me {
	width: 300px;
	height: 300px;
	margin-right: 10%;
}

nav ul a:hover {
	text-decoration: none;
}

#subtitles {
	animation: fadeInUp .6s .5s ease both;
	position: absolute;
	margin: 5% auto;
	margin-top: 0px;
	left: 0;
	right: 0;
}

.head {
	margin-top: 0;
	display: block;
	text-align: center;
	animation: fadeInUp .6s .5s ease both;
}

#recent {
	color: white;
}

#projects > #title {
	margin: 0px;
}

#logoTop {
	margin-top: 5%;
	margin-bottom: 0px;
	animation: fadeInUp .6s .5s ease both;
}

#titles {
	display: block;
	margin: auto;
	text-align: center;
}

#push {
	padding: 10%;
	animation: fadeInUp .6s .5s ease both;
}

#aboutHeading, #full-img, #thanks {
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	color: white;
	margin-bottom: 0px;

}

#full-img {
	background-image: url(../images/header4.jpg);
	height: 100vh;
}

#thanks {
	background-image: url(../images/thankyou.jpg);
	height: 100vh;
	/*color: #0288d1;*/
}

#aboutHeading {
	background-image: url(../images/header.jpg);
	height: 75vh;
	padding: 10%;
}

#aboutContent {
	padding: 3%;
	margin-top: 5%;
	margin-bottom: 5%;
}

#aboutWords {
	width: 90%;
}

#titles {
	padding: 7%;
}

#get {
	margin-bottom: 3%;
}

#contactForm {
	margin-top: 10%;
}

/* label focus color */
.input-field input[type=text]:focus + label {
	color: #0288d1 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #0288d1 !important;
	box-shadow: 0 1px 0 0 #0288d1 !important;
}

/* valid color */
.input-field input[type=text].valid {
	border-bottom: 1px solid #0288d1 !important;
	box-shadow: 0 1px 0 0 #0288d1 !important;
}

/* invalid color */
.input-field input[type=text].invalid {
	border-bottom: 1px solid #0288d1 !important;
	box-shadow: 0 1px 0 0 #0288d1 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
	color: #0288d1 !important;
}

.project {
	display: inline-block;
	height: 350px;
	width: 350px;
	margin: 4%;
	padding: 1%;
}

.eachProject {
	margin: auto;
	display: block;
}

.page-footer {
	margin-top: 0 !important;
}

#recentWork {
	padding: 1%;
	text-align: center;
}