<!-- 
	Katrina Ezis
	Info-343
	Personal Portfolio
	November 23, 2015 
	About Me page with a little
	information about me. -->

<div id="aboutHeading">
	<h2 class="head">well hello!</h2>
	<h4 class="head">you're looking splendid today!</h4>
	<h5 class="head">but that's enough about you...</h5>
</div>
<div id="aboutContent" class="container">
	<div class="featurette">
		<img id="me" class="featurette-image pull-left" ng-src="../images/idk.jpg">
		<h3 class="featurette-heading">i'm katrina</h3>
		<div id="aboutWords" class="lead">i'm currently an informatics student at UW. i am a front-end web developer, interested in all aspects of web design. i teach youngin's how to code as an instructure for Coding with Kids. when i'm not learning or teaching i'm probably listening to music, drinking tea, reading a book, or on a hike in a place populated by more pine trees than people.</div>
	</div>
</div>