<!-- 
	Katrina Ezis
	Info-343
	Personal Portfolio
	November 23, 2015 
	The home page that has my recent work-->

<div id="full-img" infinite-scroll='animateProjects()' ng-init="showSub=false" >
	<section id="titles">
		<img id="logoTop" src="images/Drawing.png">
	</section>
</div>
<div id="projects">
	<div id="title" class="card-panel  light-blue darken-2">
		<h3 id="recent" class="text-center">recent work</h3>
	</div>
	<!-- Shows colored images on hover -->
	<div id="recentWork" class="container">
		<div class="project" ng-repeat="project in projects" >
			<div class="eachProject">
				<a href="{{project['URL']}}"><img class="projectImage" ng-src="{{getProjectImage(project, hovering)}}" ng-mouseover="hovering=true" ng-mouseleave="hovering=false" ng-init="hovering=false"></a>
			</div>
		</div>
	</div>
</div>
